<h1>Connexion</h1>

<%= form_with scope: :session, url: new_session_url, local: true do |form| %>
  <div class="field">
    <%= form.label :identifier, "Nom d'utilisateur", class: "label" %>
    <div class="control">
      <%= form.text_field :identifier, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :password, "Mot de passe", class: "label" %>
    <div class="control">
      <%= form.password_field :password, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit 'Connexion', class: "button is-primary" %>
    </div>
  </div>
<% end %>
