<h1 class="title is-3">Gestion des membres du groupe '<%= @company.name %>'</h1>

<div class="columns">
  <div class="column">
    <h2 class="title is-4">Non-membres</h1>
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Groupes</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% User.unemployed_by_company(@company.id).each do |user| %>
          <tr>
            <td><%= link_to user.full_name, user %></td>
            <td><%= user.companies_names %></td>
            <td>
              <%= button_to 'ajouter', [@company, Employment.new], params: { employment: { company_id: @company.id, user_id: user.id }}, remote: true, id: "add_#{dom_id(user)}", class: "button is-small is-success" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="column">
    <h2 class="title is-4">Membres</h1>
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Groupes</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @company.employments.each do |employment| %>
          <tr>
            <td><%= link_to employment.user.full_name, employment.user %></td>
            <td><%= employment.user.companies_names %></td>
            <td>
              <%= button_to 'retirer', company_employment_url(employment.company, employment), remote: true, method: :delete, id: "remove_#{dom_id(employment.user)}", class: "button is-small is-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
