<div class="flex text-sm mb-4">
  <div class="w-1/3">
    <i class="w-4 h-4 mr-2 far fa-file"></i>
    <%= link_to document.file.filename, rails_blob_path(document.file, disposition: "attachment") %>
  </div>


  <div class="w-1/6">
    <%= document.created_at.strftime("%d %b %Y à %H:%M") %>
  </div>

  <div class="w-1/6">
    <%= document.user.full_name %>
  </div>

  <div class="w-1/6">
    <%= number_to_human_size(document.file.byte_size, precision: 2, separator: ',') %>
  </div>

  <div class="w-1/6">
    <%= document.file.content_type %>
  </div>

  <div class="w-1/6" class="is-narrow">
    <% if allow_action? :documents, :edit, document %>
      <%= link_to "Déplacer vers ...", edit_document_path(document), title: "Déplacer ce document", class: "text-xs" %>
    <% end %>
  </div>

  <div class="w-1/6" class="is-narrow">
    <% if allow_action? :documents, :destroy, document %>
      <%= button_to "Supprimer", document, method: :delete, title: "Supprimer ce document", class: "text-xs text-red underline" %>
    <% end %>
  </div>
</div>
