<%= form_with(model: [@project, @child_folder], local: true) do |f| %>
  <div class="field has-addons">
    <div class="control">
      <%= f.text_field :name, class: "input #{"is-danger" if @child_folder.errors.any?}", placeholder: "Nom de dossier" %>
      <% @child_folder.errors.full_messages.each do |message| %>
        <p class="help is-danger"><%= message %></p>
      <% end %>

      <%= f.hidden_field :parent_id, value: @folder.id %>
      <%= f.hidden_field :project_id, value: @folder.project_id %>
      <%= f.hidden_field :id, value: @folder.id %>
    </div>

    <div class="control">
      <%= f.submit 'Créer', class: "button is-primary" %>
    </div>
  </div>
<% end %>
