<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Nom</th>
      <th>Déposé le</th>
      <th>Taille</th>
      <th>Type</th>
    </tr>
  </thead>

  <tbody>
    <% @folder.children.each do |folder| %>
      <tr>
        <td class="is-narrow">
          <span class="icon">
            <i class="far fa-folder"></i>
          </span>
        </td>
        <td><%= link_to folder.name, project_folder_path(@project, folder) %></td>
        <td>-</td>
        <td>-</td>
        <td>Dossier</td>
      </tr>
    <% end %>

    <% @folder.documents.each do |document| %>
      <tr>
        <td class="is-narrow">
          <span class="icon">
            <i class="far fa-file"></i>
          </span>
        </td>
        <td>
          <%= link_to((document.blob.filename), rails_blob_path(document, disposition: :attachment)) %>
        </td>
        <td>
          <%= document.created_at.strftime("%d %b %Y à %H:%M") %>
        </td>
        <td>
          <%= number_to_human_size(document.blob.byte_size, precision: 2, separator: ',') %>
        </td>
        <td>
          <%= document.content_type %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
