<div class="mb-8">
  <% if @folder.root? %>
    <h2>Projet <%= @project.root_folder.name %></h2>
    <%= render 'projects/controls', project: @project, subscription: @subscription %>
  <% else %>
    <%= render 'breadcrumbs' %>
  <% end %>
</div>

<div class="p-3 w-full mb-8">
  <%= render 'folder_contents' if @folder.has_content? %>
</div>

<% if allow_action? :folders, :create, @folder %>
  <h3>
    Créer un nouveau dossier dans le dossier <em><%= @folder.name %></em>
  </h3>

  <div class="mb-10">
    <%= render 'folder_creation_form' %>
  </div>
<% end %>

<% if allow_action? :documents, :create, @folder.documents.build %>
  <h4 class="mb-4">
    Ajouter de nouveaux documents au dossier <em><%= @folder.name %></em>
  </h4>

  <%= render 'document_upload_form' %>

  <div class="js-progress-component"></div>
<% end %>
