<div class="breadcrumb">
  <% @folder.ancestors.each do |folder| %>
    <%= link_to folder.name, folder %> &gt;
  <% end %>
  <%= @folder.name %>
</div>

<% if @folder.children.exists? %>
  <ul>
    <% @folder.children.each do |folder| %>
      <li><%= link_to folder.name, folder %></li>
    <% end %>
  </ul>
<% end %>

<% if @folder.documents.exists? %>
  <ul>
    <% @folder.documents.each do |document| %>
      <li>
        <%= document.file.original_filename %> (<%= document.file.mime_type %>, <%= number_to_human_size(document.file.size, precision: 2, separator: ',') %>)
      </li>
    <% end %>
  </ul>
<% end %>

<p>Ajouter un nouveau document</p>

<%= form_with(model: [@folder, @document], local: true) do |f| %>
  <%= f.hidden_field :file, value: @document.cached_file_data %>
  <%= f.hidden_field :folder_id, value: @folder.id %>
  <%= f.file_field :file %>
  <%= f.submit 'Soumettre le document' %>
<% end %>

