  <div class="w-full max-w-xs container mx-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" }) do |f| %>

      <div class="mb-4">
        <%= f.label :email, class: "block text-grey-darker text-sm font-bold mb-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-6">
        <%= f.label :password, class: "block text-grey-darker text-sm font-bold mb-2" %>
        <%= f.password_field :password, autocomplete: "off", class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-6">
        <% if devise_mapping.rememberable? -%>
          <label class="block text-grey-darker text-sm mb-2" name="remember_me">
            <%= f.check_box :remember_me, class: "checkbox" %>
            <%= t("devise.remember_me") %>
          </label>
        <% end -%>
      </div>

      <div class="flex items-center justify-between">
        <%= f.submit t("devise.sign_in"), class: "btn btn-blue mr-4" %>
        <%= render "users/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
