<div class="content">
  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "erreur", "erreurs") %>:</h2>

        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>Tous les champs sont obligatoires</p>

    <div class="field">
      <div class="control">
        <label class="label" name="user[active]">Actif
          <%= form.check_box :active, id: :user_active, class: "checkbox" %>
        </label>
      </div>
    </div>

    <div class="field">
      <%= form.label :group, "Niveau d'accès", class: "label" %>
      <div class="control">
        <div class="select">
          <%= form.select :group do %>
            <%= options_for_select(user_groups_for_select, @user.group) %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label :username, "Nom d'utilisateur", class: "label" %>
      <div class="control">
        <%= form.text_field :username, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :email, "Adresse email", class: "label" %>
      <div class="control">
        <%= form.text_field :email, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :password, "Mot de passe", class: "label" %>
      <div class="control">
        <%= form.password_field :password, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :first_name, 'Prénom', class: "label" %>
      <div class="control">
        <%= form.text_field :first_name, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :last_name, 'Nom', class: "label" %>
      <div class="control">
        <%= form.text_field :last_name, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :company, 'Entreprise', class: "label" %>
      <div class="control">
        <%= form.text_field :company, class: "input" %>
      </div>
    </div>

    <div class="field">
      <%= form.label :city, 'Ville', class: "label" %>
      <div class="control">

        <%= form.text_field :city, class: "input" %>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <%= form.submit action_name == 'new' ? 'Créer' : 'Valider', class: "button is-primary" %>
      </div>
    </div>
  <% end %>
</div>
