<h2 class="mb-8">Editer le compte</h2>

<%= form_with(model: @user, local: true, class: "w-full max-w-md") do |form| %>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <% if allow_param? :user, :first_name %>
        <%= form.label :first_name, 'Prénom', class: 'block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2' %>
        <%= form.text_field :first_name, class: 'appearance-none block w-full bg-grey-lighter text-grey-darker border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white' %>
      <% end %>
    </div>

    <div class="w-full md:w-1/2 px-3">
      <% if allow_param? :user, :last_name %>
        <%= form.label :last_name, 'Nom', class: 'block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2' %>
        <%= form.text_field :last_name, class: 'appearance-none block w-full bg-grey-lighter text-grey-darker border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white' %>
      <% end %>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <% if allow_param? :user, :email %>
        <%= form.label :email, 'Email', class: "block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" %>
        <%= form.text_field :email, class: "appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" %>
      <% end %>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <% if allow_param? :user, :city %>
        <%= form.label :city, 'Ville', class: "block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" %>
        <%= form.text_field :city, class: "appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey" %>
      <% end %>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <%= form.label :company, "Groupe", class: "block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" %>
      <div class="relative">
        <%= form.collection_select(:company_id, Company.all, :id, :name, prompt: true) %>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <%= form.label :group, "Niveau d'accès", class: "block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" %>
      <div class="relative">
        <%= form.select :group do %>
          <%= options_for_select(user_groups_for_select, @user.group) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3">
      <% if allow_param? :user, :active %>
        <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" name="user[active]">Actif
          <%= form.check_box :active, id: :user_active, class: "checkbox" %>
        </label>
      <% end %>
    </div>
  </div>

  <%= form.submit "Valider", class: "btn btn-blue" %>
<% end %>
