<h1>Comptes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom d'utilisateur</th>
      <th>Nom</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.email %></td>
        <% if allow_action? :users, :edit %>
          <td><%= link_to "Editer", edit_user_url(user) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if allow_action? :users, :create %>
  <%= link_to "Créer un nouveau compte", new_user_url %>
<% end %>
