<h1 class="title is-1">Comptes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Nom d'utilisateur</th>
      <th>Email</th>
      <th>Niveau d'acces</th>
      <th>Statut</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= link_to user.username, user %></td>
        <td><%= user.email %></td>
        <td><%= t("activerecord.attributes.user.group.#{user.group}") %></td>
        <td><%= user.account_status %></td>
        <td>
          <% if allow_action?(:users, :edit, user) %>
            <%= link_to "Editer", edit_user_url(user), class: "button is-small" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
