<%= tag.h2 @user.full_name, class: "title is-2" %>

<div class="content">
  <p>Nom d'utilisateur: <%= @user.username %></p>
  <p>Email: <%= @user.email %></p>
  <p>Entreprise: <%= @user.company %></p>
  <p>Ville: <%= @user.city %></p>
  <p>Niveau d'accès: <%= t "activerecord.attributes.user.group.#{@user.group}" %></p>

  <% if current_user == @user %>
    <%= link_to 'Editer', edit_user_registration_path, class: "button" %>
  <% end %>
</div>
