<%= tag.h2 @user.full_name, class: "title is-2" %>

<div class="content">
  <p>Statut du compte: <%= @user.account_status %></p>
  <p>Niveau d'accès: <%= t "activerecord.attributes.user.group.#{@user.group}" %></p>
  <p>Email: <%= @user.email %></p>
  <p>Groupe: <%= @user.company_name %></p>
  <p>Ville: <%= @user.city %></p>
</div>
