<% if project.active? %>
  <% if subscription.present? %>
    <%= link_to project_subscription_url(project, subscription), class: "button is-small", method: :delete do %>
      <span>
        (<%= project.subscribers.count %>)
      </span>
      <span class="icon is-small has-text-danger">
        <i class="fa fa-users"></i>
      </span>
      <span>Arreter de suivre</span>
    <% end %>
  <% else %>
    <%= link_to project_subscriptions_url(project), class: "button is-small", method: :post do %>
      <span>
        (<%= project.subscribers.count %>)
      </span>
      <span class="icon is-small has-text-success">
        <i class="fa fa-users"></i>
      </span>
      <span>Suivre</span>
    <% end %>
  <% end %>

  <% if allow_action? :projects, :edit %>
    <%= link_to "Editer", edit_project_url(project), class: "button is-small" %>
  <% end %>

  <% if allow_action? :assignments, :create %>
    <%= link_to "Gérer les membres", project_assignments_path(project), class: "button is-small" %>
  <% end %>

  <% if allow_action? :archives, :create %>
    <%= button_to "Archiver", archives_path(project_id: project.id), method: :post, class: "button is-small" %>
  <% end %>
<% end %>

<% if project.archived? %>
  <% if allow_action? :archives, :destroy %>
    <%= button_to "Désarchiver", archive_path(project.id), method: :delete, class: "button is-small" %>
  <% end %>
<% end %>

<% if allow_action? :projects, :delete %>
  <%= button_to "Supprimer", project, method: :delete, class: "button is-small is-danger" %>
<% end %>
