<% if project.active? %>
  <ul class="flex list-reset text-sm py-3">
    <% if subscription.present? %>
      <li class="mr-4">
        <%= link_to project_subscription_url(project, subscription), class: "button is-small", method: :delete do %>
          <span>
            (<%= project.subscribers.count %>)
          </span>
          <span class="icon is-small has-text-danger">
            <i class="fa fa-users"></i>
          </span>
          <span>
            Arrêter de suivre
          </span>
        <% end %>
      </li>
    <% else %>
      <li class="mr-4">
        <%= link_to project_subscriptions_url(project), class: "button is-small", method: :post do %>
          <span>
            (<%= project.subscribers.count %>)
          </span>

          <span class="icon is-small has-text-success">
            <i class="fa fa-users"></i>
          </span>

          <span>
            Suivre
          </span>
        <% end %>
      </li>
    <% end %>

    <% if allow_action? :projects, :edit %>
      <li class="mr-4">
        <%= link_to "Editer", edit_project_url(project), class: "button is-small" %>
      </li>
    <% end %>

    <% if allow_action? :assignments, :create %>
      <li class="mr-4">
        <%= link_to "Gérer les membres", project_assignments_path(project), class: "button is-small" %>
      </li>
    <% end %>
  <% end %>

  <% if project.archived? %>
    <% if allow_action? :archives, :destroy %>
      <li class="mr-4">
        <%= link_to "Désarchiver", archive_path(project.id), method: :delete, class: "button is-small" %>
      </li>
    <% end %>
  <% end %>

  <% if allow_action? :projects, :delete %>
    <li class="mr-4">
      <%= link_to "Supprimer", project, method: :delete, class: "button is-small is-danger" %>
    </li>
  <% end %>
  </ul>
