<%= tag.h1 @project.name %>

<%= link_to "Gerer les membres du projet", project_assignments_path(@project) %>

<%= link_to "Supprimer ce projet", @project, method: :delete %>

<% if @project.active? %>
  <%= link_to "Archiver ce projet", archives_path(project_id: @project.id), method: :post %>
<% end %>

<% if @project.archived? %>
  <%= link_to "Désarchiver ce projet", archive_path(project_id: @project.id), method: :delete %>
<% end %>

<ul class="folders-list">
  <% @project.folders.roots.each do |folder| %>
    <li class="folders-list__folder"><%= link_to folder.name, project_folder_path(@project, folder) %></li>
  <% end %>
</ul>

<p>Créer un nouveau dossier</p>

<%= form_with(model: [@project, @folder], local: true) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "erreur", "erreurs") %>:</h2>

      <ul>
        <% @folder.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.hidden_field :parent_id, value: @folder.id %>
  <%= f.hidden_field :project_id, value: @folder.project_id %>
  <%= f.hidden_field :id, value: @folder.id %>
  <%= f.submit %>
<% end %>
