<%= tag.h1 @project.name, class: "title is-1" %>

<div class="content">
  <%= render 'controls', project: @project %>

  <hr />

  <table class="table">
    <tbody>
      <% @project.folders.roots.each do |folder| %>
        <tr>
          <td class="is-narrow">
            <span class="icon">
              <i class="far fa-folder"></i>
            </span>
          </td>
          <td><%= link_to folder.name, project_folder_path(@project, folder) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if allow_action? :folders, :create %>
  <hr />

  <div class="content">
    <h3 class="title is-3">Créer un nouveau dossier</h3>

    <%= form_with(model: [@project, @folder], local: true) do |f| %>
      <% if @folder.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@folder.errors.count, "erreur", "erreurs") %>:</h2>

          <ul>
            <% @folder.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :name, class: "label" %>

      <div class="field">
        <div class="control">
          <%= f.text_field :name, class: "input", placeholder: "Nom de dossier" %>
          <%= f.hidden_field :parent_id, value: @folder.id %>
          <%= f.hidden_field :project_id, value: @folder.project_id %>
          <%= f.hidden_field :id, value: @folder.id %>
        </div>
      </div>

      <div class="control">
        <%= f.submit "Créer", class: "button is-primary" %>
      </div>
    <% end %>
  </div>
<% end %>
