<h2 class="mb-8"><%= @company.name %></h2>

<div class="flex justify-center text-grey">
  <div class="w-1/5 h-12">
  Nom
  </div>
  <div class="w-1/5 h-12">
    Projets
  </div>
  <div class="w-1/5 h-12">
    Groupe
  </div>
  <div class="w-1/5 h-12">
    Niveau d'accès
  </div>
  <div class="w-1/5 h-12">
    Statut
  </div>
</div>

<% if @company.users.none? %>
  <p>Ce groupe ne contient aucun utilisateur</p>
<% end %>

<% @company.users.each do |user| %>
  <div class="flex justify-center">
    <div class="w-1/5 h-8">
      <%= link_to user.full_name, user %>
    </div>
    <div class="w-1/5 h-8">
      <%= user.projects_names %>
    </div>
    <div class="w-1/5 h-8">
      <%= user.company.name %>
    </div>
    <div class="w-1/5 h-8">
      <%= t("activerecord.attributes.user.group.#{user.group}") %>
    </div>
    <div class="w-1/5 h-8">
      <%= user.account_status %>
    </div>
  </div>
<% end %>
