<header class="bg-grey-darkest p-4 w-full">
  <div class="container mx-auto flex">
    <div class="w-1/4 pl-4">
      <h1>
        <%= link_to 'CCA', root_path, class: "no-underline text-blue-lighter" %>
      </h1>
      <span class="text-grey-light text-sm">Partage de fichiers</span>
    </div>

    <div class="flex w-3/4 text-grey-light text-xs">
      <div class="w-1/4">
        <% if current_user != true_user %>
          <%= button_to "Redevenir #{true_user.first_name}", user_impersonation_path(current_user), method: :delete, class: "btn btn-green" %>
        <% end %>
      </div>

      <% if current_user.present? %>
        <div class="w-1/4 mr-4">
          Bonjour <%= current_user.first_name %> <span>(<%= t("activerecord.attributes.user.group.#{current_user.group}") %>)</span>
        </div>

        <div class="flex w-1/4">
          <%= link_to "Editer mon profil", edit_user_registration_url, class: "mr-2 text-grey-light" %>
          <%= button_to 'Déconnexion', destroy_user_session_url, method: :delete, class: "bg-grey-darkest text-grey-light underline cursor-pointer" %>
        </div>
      <% end %>
    </div>
</header>
