<nav class="flex justify-center mb-8">
  <% if allow_action? :projects, :index %>
    <div class="mr-4 py-2 <%= "border-b-2 border-blue" if controller?("projects", "assignments") %>">
      <%= link_to 'Projets', projects_url, class: "no-underline text-black" %>
    </div>
  <% end %>

  <% if allow_action? :companies, :index %>
    <div class="mr-4 py-2 <%= "border-b-2 border-blue" if controller?("companies", "employments") %>">
      <%= link_to 'Groupes', companies_url, class: "no-underline text-black" %>
    </div>
  <% end %>

  <% if allow_action? :users, :index %>
    <div class="mr-4 py-2 <%= "border-b-2 border-blue" if controller?("users") %>">
      <%= link_to 'Utilisateurs', users_url, class: "no-underline text-black" %>
    </div>
  <% end %>
</nav>
