<section class="section">
  <div class="container">
    <h2 class="title is-2">Créer un nouveau compte utilisateur</h2>

    <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |form| %>
        <% if resource.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(resource.errors.count, "erreur", "erreurs") %>:</h2>

            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :group, "Niveau d'accès", class: "label" %>
          <div class="control">
            <div class="select">
              <%= form.select :group do %>
                <%= options_for_select(user_groups_for_select, resource.group) %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="field">
          <%= form.label :company, "Groupe", class: "label" %>
          <div class="control">
            <div class="select">
              <%= form.collection_select(:company_id, Company.all, :id, :name, prompt: true) %>
            </div>
          </div>
        </div>

        <div class="field">
          <%= form.label :first_name, 'Prénom', class: "label" %>
          <div class="control">
            <%= form.text_field :first_name, class: "input" %>
          </div>
        </div>

        <div class="field">
          <%= form.label :last_name, 'Nom', class: "label" %>
          <div class="control">
            <%= form.text_field :last_name, class: "input" %>
          </div>
        </div>

        <div class="field">
          <%= form.label :email, class: "label" %>
          <div class="control">
            <%= form.email_field :email, autocomplete: "email", class: "input" %>
          </div>
        </div>

        <div class="field">
          <%= form.label :city, 'Ville', class: "label" %>
          <div class="control">
            <%= form.text_field :city, class: "input" %>
          </div>
        </div>

      <div class="actions">
        <%= form.submit t("devise.invitations.new.submit_button"), class: "button is-primary" %>
      </div>

    <% end %>
  </div>
</section>
