<!DOCTYPE html>
<html>
  <head>
    <title>CCA</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <div class="container">
    <div class="content">
      <body>
        <%= render partial: 'navbar' %>

        <%= tag.p notice, id: 'notice' %>

        <%= yield %>
      </body>
    </div>
  </div>
</html>
