<!DOCTYPE html>
<html>
  <head>
    <title>CCA</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
  </head>

  <body>
    <%= render 'header' %>
    <%= render "navbar" if logged_in? %>

    <section class="section">
      <div class="container">
        <%= tag.p notice, id: 'notice' %>
        <%= tag.p alert, id: 'alert' %>
        <%= yield %>
      </div>
    </section>

    <%= render partial: 'footer' %>
  </body>
</html>
