<!DOCTYPE html>
<html>
  <head>
    <title>CCA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= render 'header' %>

    <%= tag.p notice, id: 'notice' %>
    <%= tag.p alert,  id: 'alert' %>

    <%= yield %>
    <%= yield :tail_scripts %>

    <%= render partial: 'footer' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </body>
</html>
