<!DOCTYPE html>
<html>
  <head>
    <title>CCA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Accueil', root_url %>
    | <%= link_to 'Comptes utilisateurs', users_url %>
    | <%= link_to 'Projets', projects_url %>
    <% if logged_in? %>
      | <%= link_to 'Profil', user_url(current_user) %>
      | <%= link_to 'Déconnexion', session_url, method: :delete %>
    <% else %>
      | <%= link_to 'Connexion', new_session_url %>
    <% end %>

  <%= yield %>
  </body>
</html>
