<!DOCTYPE html>
<html>
  <head>
    <title>CCA</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <section class="hero is-dark is-small">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          CCA
        </h1>
        <h2 class="subtitle">
          Partage de fichiers
        </h2>
      </div>
    </div>
  </section>

  <%= render partial: 'navbar' %>

  <body>
    <section class="section">
      <div class="container">
        <%= tag.p notice, id: 'notice' %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
